<div class="row">
    <div>
        <h3>PURCHASE ORDERS</h3>
    </div>
</div>


<div class="d-flex">

    <div class="dash-background">
        <h3>DashBoard</h3>
        <div class="btn-groups">
            <a href="/reqManagement" type="button" class="btn btn-primary">View Orders</a>
            <a href="/readQuoto" type="button" class="btn btn-primary">View Quotation</a>
            <a href="/viewSup" type="button" class="btn btn-primary">View Suppliers</a>
        </div>
    </div>

    <div class="set-tb-width">
        <table class="table  table-striped table-light table-hover">
            <thead class="thead-dark">
                <tr style="color:#3ab67d">
                    <th scope="col">#</th>
                    <th scope="col">Order Date</th>
                    <th scope="col">To be delivered by</th>
                    <th scope="col">Approval</th>
                    <th scope="col">Manager Name</th>
                    <th scope="col">Site Name</th>
                    <th scope="col">Comments</th>
                    <th scope="col">Total</th>
                    <th scope="col" class="text-end">Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each rows}}
                <tr>
                    <th scope="row">{{this.orderID }}</th>
                    <td>{{this.orderDate}}</td>
                    <td>{{this.deliveryDate}}</td>
                    <td>{{this.approval}}</td>
                    <td>{{this.siteManName}}</td>
                    <td>{{this.siteName}}</td>
                    <td>{{this.comment}}</td>
                    <td>{{this.total}}</td>
                    <td class="text-end">
                        <a style="background-color: #bdfbb4;" href="/StaffviewReqItems/{{this.orderID}}" type="button"
                            class="btn  btn-small"><i class="bi bi-eye"></i>View</a>


                    </td>
                </tr>
                {{/each}}

            </tbody>
        </table>

    </div>

</div>