<div class="d-flex">
    <div class="dash-background">
        <h3>DashBoard</h3>
        <div class="btn-groups">
            <a href="/reqManagement" type="button" class="btn btn-primary">View Orders</a>
            <a href="/readQuoto" type="button" class="btn btn-primary">View Quotation</a>
            <a href="/viewSup" type="button" class="btn btn-primary">View Suppliers</a>
            <a href="/viewNCompletedDeliveries" type="button" class="btn btn-primary">Incompleted Delivery</a>
        </div>
    </div>

    <div class="set-tb-width">
        <div class="row">
            {{#each rowQuoatation}}
            <div class="col-6">
                <h3>Invoice no : {{this.qID}}</h3>
            </div>
            {{/each}}
        </div>

        <table class="table table-striped table-light table-hover">
            <thead class="thead-dark">
                <tr style="color:#3ab67d">
                    <th scope="col">Item Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price (LKR)</th>
                </tr>
            </thead>
            <tbody>
                {{#each rowQuoatationItems}}
                <tr>
                    <th scope="row">{{this.itemName}}</th>
                    <td>{{this.quantity}}</td>
                    <td>{{this.price}}</td>
                </tr>
                {{/each}}

            </tbody>
        </table>

        <div class="row">
            {{#each rowQuoatation}}
            <div class="col-6">
                <h3>Sent Purchase Order No : {{this.orderID}}</h3>
            </div>
            {{/each}}
        </div>

        <table class="table table-striped table-light table-hover">
            <thead class="thead-dark">
                <tr style="color:#3ab67d">
                    <th scope="col">Item Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price (LKR)</th>
                </tr>
            </thead>
            <tbody>
                {{#each rowPOItems}}
                <tr>
                    <th scope="row">{{this.itemName}}</th>
                    <td>{{this.quantity}}</td>
                    <td>{{this.price}}</td>
                </tr>
                {{/each}}

            </tbody>
        </table>
        {{#each rowQuoatation}}
        <form action="/completeDelivery/{{this.qID}}" method="POST">
            <input type="submit" value="Completed" name="btntoDeliverysts">
            <input type="submit" value="Declined" name="btntoDeliverysts">
        </form>
        {{/each}}
    </div>
</div>