<div class="row">
    <div class="col-6">
        <h3>Approved Quotations</h3>
    </div>
</div>

<div class="d-flex">
    <div class="dash-background">
        <h3>DashBoard</h3>
        <div class="btn-groups">
            <a href="/supplierpage/{{supID}}" type="button" class="btn btn-primary">View Orders</a>
            <a href="/supviewapprove/{{supID}}" type="button" class="btn btn-primary">View Approved</a>
        </div>
    </div>


    <div class="set-tb-width">
        <table class="table table-striped table-light table-hover">
            <thead class="thead-dark">
                <tr style="color:#3ab67d">
                    <th scope="col">#</th>
                    <th scope="col">Order ID</th>
                    <th scope="col">Status</th>
                    <th scope="col">Date</th>
                    <th scope="col" class="text-end">Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each rows}}
                <tr>
                    <th scope="row">{{this.qID }}</th>
                    <td>{{this.orderID}}</td>
                    <td>{{this.status}}</td>
                    <td>{{this.quotaionDate}}</td>
                    <td class="text-end">
                        <div class="d-flex justify-content-end">
                            <div class="set-btn-margin">
                                <a href="/viewSupQutoItems/{{this.qID}}" type="button" class="btn btn-dark btn-small"><i
                                        class="bi bi-eye"></i>View</a>
                            </div>
                        </div>

                    </td>

                </tr>
                {{/each}}

            </tbody>
        </table>

    </div>

</div>