<div class="row">
    <div class="col-12">
        <h3>Delivery Details (Quotation Number {{qID}})</h3>
    </div>
</div>

<div class="d-flex">
    <div class="dash-background">
        <h3>DashBoard</h3>
        <div class="btn-groups">
            <a href="/supplierpage/{{supID}}" type="button" class="btn btn-primary">View Orders</a>
            <a href="/supviewapprove/{{supID}}" type="button" class="btn btn-primary">View Approved</a>
        </div>
    </div>

    <div class="set-tb-width">
        <table class="table table-striped table-light table-hover">
            <thead class="thead-dark">
                <tr style="color:#3ab67d">
                    <th scope="col">deliveryID</th>
                    <th scope="col">supId</th>
                    <th scope="col">qID</th>
                    <th scope="col">date</th>
                    <th scope="col">location</th>
                    <th scope="col">contactNo</th>

                </tr>
            </thead>
            <tbody>
                {{#each rows}}
                <tr>
                    <td>{{this.deliveryID }}</td>
                    <td>{{this.supId}}</td>
                    <td>{{this.qID}}</td>
                    <td>{{this.date}}</td>
                    <td>{{this.location}}</td>
                    <td>{{this.contactNo}}</td>
                </tr>
                {{/each}}

            </tbody>
        </table>
    </div>

</div>